output/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://s8.com"
 xmlns:tns="http://s8.com"
 elementFormDefault="qualified">
	<xs:element name="sources" type="tns:com.s8.web.carbon.build.sources.WebSources"/>
	<xs:element name="S8-Xenon-server" type="tns:com.s8.web.xenon.config.XeConfiguration"/>
	<xs:element name="HTTP2_WebConfiguration" type="tns:com.s8.stack.arch.helium.http2.HTTP2_WebConfiguration"/>
	<xs:element name="SSL_WebConfiguration" type="tns:com.s8.stack.arch.helium.ssl.SSL_WebConfiguration"/>
	<xs:element name="SiliconAppConfiguration" type="tns:com.s8.arch.silicon.SiliconConfiguration"/>

	<xs:complexType name="com.s8.web.carbon.build.pointers.bundles.JS_BundleBuilder">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="item" type="tns:com.s8.web.carbon.build.pointers.basics.JS_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="item_js" type="tns:com.s8.web.carbon.build.pointers.basics.JS_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="js" type="tns:com.s8.web.carbon.build.pointers.basics.JS_Builder" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.JPG_Filter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.arch.silicon.clock.ClockSiModuleConfig">
		<xs:attribute name="tick" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.JSON_Filter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.web.CarbonWebService-Config">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="sources" type="tns:com.s8.web.carbon.build.sources.WebSources" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="root-local-path" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="module_module" type="tns:com.s8.web.carbon.build.sources.WebModule" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="module" type="tns:com.s8.web.carbon.build.sources.WebModule" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="sources_sources" type="tns:com.s8.web.carbon.build.sources.WebSources" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="is-verbose" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.stack.arch.helium.rx.RxWebConfiguration">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pool-capacity" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="isServer" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="backlog" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="port" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="socket_RxSocketConfiguration" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="host" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="RxSocketConfiguration" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="socket" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="isRxVerbose" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.web.xenon.config.XeConfiguration">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="databases" type="tns:com.s8.arch.magnesium.service.MgConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="MagnesiumDbConfiguration" type="tns:com.s8.arch.magnesium.service.MgConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="web-sources_CarbonWebServiceConfiguration" type="tns:com.s8.web.carbon.web.CarbonWebService-Config" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="engine_SiliconAppConfiguration" type="tns:com.s8.arch.silicon.SiliconConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="CarbonWebServiceConfiguration" type="tns:com.s8.web.carbon.web.CarbonWebService-Config" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="databases_MagnesiumDbConfiguration" type="tns:com.s8.arch.magnesium.service.MgConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="mode" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="web-sources" type="tns:com.s8.web.carbon.web.CarbonWebService-Config" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="web" type="tns:com.s8.stack.arch.helium.http2.HTTP2_WebConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="engine" type="tns:com.s8.arch.silicon.SiliconConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="web_HTTP2_WebConfiguration" type="tns:com.s8.stack.arch.helium.http2.HTTP2_WebConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="HTTP2_WebConfiguration" type="tns:com.s8.stack.arch.helium.http2.HTTP2_WebConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="HTTP1.1_redirection" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SiliconAppConfiguration" type="tns:com.s8.arch.silicon.SiliconConfiguration" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.PNG_Filter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.CSS_Pointer" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.sources.WebModule" mixed="true">
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.folder.Folder">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="jpg" type="tns:com.s8.web.carbon.build.pointers.basics.JPG_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="css" type="tns:com.s8.web.carbon.build.pointers.basics.CSS_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_basic" type="tns:com.s8.web.carbon.build.pointers.basics.BasicWebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_js" type="tns:com.s8.web.carbon.build.pointers.basics.JS_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="svg" type="tns:com.s8.web.carbon.build.pointers.basics.SVG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="png" type="tns:com.s8.web.carbon.build.pointers.basics.PNG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_svg" type="tns:com.s8.web.carbon.build.pointers.basics.SVG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_json" type="tns:com.s8.web.carbon.build.pointers.basics.JSON_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="js" type="tns:com.s8.web.carbon.build.pointers.basics.JS_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_html" type="tns:com.s8.web.carbon.build.pointers.basics.HTML_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_png" type="tns:com.s8.web.carbon.build.pointers.basics.PNG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_builder" type="tns:com.s8.web.carbon.build.pointers.WebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_js-bundle" type="tns:com.s8.web.carbon.build.pointers.bundles.JS_BundleBuilder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="js-bundle" type="tns:com.s8.web.carbon.build.pointers.bundles.JS_BundleBuilder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="folder" type="tns:com.s8.web.carbon.build.pointers.folder.Folder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_jpg" type="tns:com.s8.web.carbon.build.pointers.basics.JPG_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_css" type="tns:com.s8.web.carbon.build.pointers.basics.CSS_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_folder" type="tns:com.s8.web.carbon.build.pointers.folder.Folder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder" type="tns:com.s8.web.carbon.build.pointers.WebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="json" type="tns:com.s8.web.carbon.build.pointers.basics.JSON_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="html" type="tns:com.s8.web.carbon.build.pointers.basics.HTML_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="basic" type="tns:com.s8.web.carbon.build.pointers.basics.BasicWebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="path" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.arch.silicon.async.ProfileMappingBuilder" mixed="true">
		<xs:attribute name="profile" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.HTML_Filter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.JS_Builder" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.HTML_Pointer" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.stack.arch.helium.http2.HTTP2_WebConfiguration">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="isServer" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="HPACK-isVerbose" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-keystore_pathname" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="HTTP2-isVerbose" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-keystore_password" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-encryption_protocol" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-application_protocols" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="timeout" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="pool-capacity" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-maxPacketSize" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="backlog" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="port" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="socket_RxSocketConfiguration" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-isVerbose" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="host" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="RxSocketConfiguration" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="socket" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="isRxVerbose" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="HPACK-isHuffmanEncoding" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.arch.magnesium.service.MgConfiguration">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="repo-db-config" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="space-db-config" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="user-db-config" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.arch.silicon.async.AsyncSiModuleConfig">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="ProfileMappingBuilder" type="tns:com.s8.arch.silicon.async.ProfileMappingBuilder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="map_ProfileMappingBuilder" type="tns:com.s8.arch.silicon.async.ProfileMappingBuilder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="map" type="tns:com.s8.arch.silicon.async.ProfileMappingBuilder" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="n-threads" type="xs:string"/>
		<xs:attribute name="queue-capacity" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.arch.silicon.watch.WatchSiModuleConfig">
		<xs:attribute name="isVerbose" type="xs:string"/>
		<xs:attribute name="n-threads" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.sources.WebSources">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="js-filter" type="tns:com.s8.web.carbon.build.filters.basics.JS_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="css" type="tns:com.s8.web.carbon.build.pointers.basics.CSS_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_svg-filter" type="tns:com.s8.web.carbon.build.filters.basics.SVG_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_html-filter" type="tns:com.s8.web.carbon.build.filters.basics.HTML_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="html-filter" type="tns:com.s8.web.carbon.build.filters.basics.HTML_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_json" type="tns:com.s8.web.carbon.build.pointers.basics.JSON_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="js" type="tns:com.s8.web.carbon.build.pointers.basics.JS_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_html" type="tns:com.s8.web.carbon.build.pointers.basics.HTML_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="root-web-path" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_filter" type="tns:com.s8.web.carbon.build.filters.WebAssetFilter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="css-filter" type="tns:com.s8.web.carbon.build.filters.basics.CSS_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_js-filter" type="tns:com.s8.web.carbon.build.filters.basics.JS_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_json-filter" type="tns:com.s8.web.carbon.build.filters.basics.JSON_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_builder" type="tns:com.s8.web.carbon.build.pointers.WebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_js-bundle" type="tns:com.s8.web.carbon.build.pointers.bundles.JS_BundleBuilder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="js-bundle" type="tns:com.s8.web.carbon.build.pointers.bundles.JS_BundleBuilder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_jpg" type="tns:com.s8.web.carbon.build.pointers.basics.JPG_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="jpg-filter" type="tns:com.s8.web.carbon.build.filters.basics.JPG_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_x-filter" type="tns:com.s8.web.carbon.build.filters.basics.X_TextFilter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder" type="tns:com.s8.web.carbon.build.pointers.WebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="json" type="tns:com.s8.web.carbon.build.pointers.basics.JSON_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="html" type="tns:com.s8.web.carbon.build.pointers.basics.HTML_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="jpg" type="tns:com.s8.web.carbon.build.pointers.basics.JPG_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_basic-filter" type="tns:com.s8.web.carbon.build.filters.basics.BasicWebAssetFilter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_png-filter" type="tns:com.s8.web.carbon.build.filters.basics.PNG_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_css-filter" type="tns:com.s8.web.carbon.build.filters.basics.CSS_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="svg-filter" type="tns:com.s8.web.carbon.build.filters.basics.SVG_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="x-filter" type="tns:com.s8.web.carbon.build.filters.basics.X_TextFilter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="json-filter" type="tns:com.s8.web.carbon.build.filters.basics.JSON_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_basic" type="tns:com.s8.web.carbon.build.pointers.basics.BasicWebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_js" type="tns:com.s8.web.carbon.build.pointers.basics.JS_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="svg" type="tns:com.s8.web.carbon.build.pointers.basics.SVG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="png" type="tns:com.s8.web.carbon.build.pointers.basics.PNG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_svg" type="tns:com.s8.web.carbon.build.pointers.basics.SVG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_png" type="tns:com.s8.web.carbon.build.pointers.basics.PNG_Builder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter" type="tns:com.s8.web.carbon.build.filters.WebAssetFilter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="folder" type="tns:com.s8.web.carbon.build.pointers.folder.Folder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_css" type="tns:com.s8.web.carbon.build.pointers.basics.CSS_Pointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="builder_folder" type="tns:com.s8.web.carbon.build.pointers.folder.Folder" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="filter_jpg-filter" type="tns:com.s8.web.carbon.build.filters.basics.JPG_Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="basic-filter" type="tns:com.s8.web.carbon.build.filters.basics.BasicWebAssetFilter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="basic" type="tns:com.s8.web.carbon.build.pointers.basics.BasicWebAssetPointer" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="png-filter" type="tns:com.s8.web.carbon.build.filters.basics.PNG_Filter" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.JPG_Pointer" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.arch.silicon.SiliconConfiguration">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="T3-unit" type="tns:com.s8.arch.silicon.clock.ClockSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T3UnitConfig" type="tns:com.s8.arch.silicon.clock.ClockSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T2-unit_T2UnitConfig" type="tns:com.s8.arch.silicon.watch.WatchSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T2UnitConfig" type="tns:com.s8.arch.silicon.watch.WatchSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T3-unit_T3UnitConfig" type="tns:com.s8.arch.silicon.clock.ClockSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T1-unit_T1UnitConfig" type="tns:com.s8.arch.silicon.async.AsyncSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T1-unit" type="tns:com.s8.arch.silicon.async.AsyncSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T2-unit" type="tns:com.s8.arch.silicon.watch.WatchSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="T1UnitConfig" type="tns:com.s8.arch.silicon.async.AsyncSiModuleConfig" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.SVG_Filter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.WebAssetFilter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.stack.arch.helium.ssl.SSL_WebConfiguration">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="isServer" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-keystore_pathname" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-keystore_password" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-encryption_protocol" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-application_protocols" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="timeout" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="pool-capacity" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-maxPacketSize" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="backlog" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="port" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="socket_RxSocketConfiguration" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="SSL-isVerbose" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="host" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="RxSocketConfiguration" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="socket" type="tns:com.s8.stack.arch.helium.rx.RxSocketConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="isRxVerbose" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.SVG_Builder" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.JS_Filter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.X_TextFilter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.stack.arch.helium.rx.RxSocketConfiguration">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="receive-buffer-size" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="keep-alive" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="traffic-class" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="send-buffer-size" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="OOBINLINE" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="TCP_NODELAY" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.WebAssetPointer">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.BasicWebAssetFilter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.JSON_Builder" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.PNG_Builder" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.pointers.basics.BasicWebAssetPointer" mixed="true">
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="com.s8.web.carbon.build.filters.basics.CSS_Filter">
		<xs:sequence>
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="pattern" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		</xs:sequence>
		<xs:attribute name="frag-length" type="xs:string"/>
		<xs:attribute name="cache" type="xs:string"/>
	</xs:complexType>
</xs:schema>